/* You can add global styles to this file, and also import other style files */
@import "../../../dist/ngx-dashboard-skeleton/themes/skeleton-theme.css";


html,
body {
  margin: 0;
  padding: 0;
  background: #121212;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 40px;
}

.dark {
  --ngx-skeleton-base: #2d2d2d;
  --ngx-skeleton-highlight: #3a3a3a;
}